/* CSS Document */

	*{
		margin:0px;
	}
	
	body{
		background-image:url(../images/add2.gif);
		background-attachment:fixed;
	}
	
	#sub{
		background:transparent;
		background-image:url(../images/add3.png);
		width:128px;
		height:128px;
		float:right;
		border:0px;
	}
	
	.pra{
		color:#FFFFFF;
	}
	
	.pra input{
		background:transparent;
		color:#FFFF00;
		border:1px #00FF00 dashed;
	}
	
	select{
		background:transparent;
		border:0px;
		color:#FF00FF;
	}