/* CSS Document */
	
	*{
		margin:0px;
	}
	
	body{
		background-image:url(../images/add2.gif);
		background-attachment:fixed;
	}
	
	.mainDiv{
		color:#FFFFFF;
	}
	
	.topDiv{
		background-repeat:no-repeat;
		width:128px;
		height:128px;
	}
	
	.soso{
		
		width:700px;
		height:128px;
	}
	
	.detail{
		cursor:pointer;
		color:#00FF00;
	}
	
	.dn{
		display:none;
	}
	
	.dncolor{
		color:#00FFFF;
	}
	
	.sosotext{
		width:420px;
		height:50px;
		color:#FFFFFF;
		font-family:"¿¬Ìå_GB2312";
		background:transparent;
		margin-top:70px;
		position:absolute;
		font-size:45px;
		border:1px #FF00FF solid;
	}
	
	#subsoso{
		background:transparent;
		background-image:url(../images/list2.png);
		margin-left:430px;
		margin-top:70px;
		border:1px #00FF00 solid;
		width:55px;
		height:54px;
	}