<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Spotic_EmpServlet</servlet-name>
		<servlet-class>com.spotic.emp.servlet.Spotic_EmpServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Spotic_CustomerServlet</servlet-name>
		<servlet-class>com.spotic.customer.servlet.Spotic_CustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Spotic_RfqServlet</servlet-name>
		<servlet-class>com.spotic.rfq.servlet.Spotic_RfqServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Spotic_InventoryServlet</servlet-name>
		<servlet-class>com.spotic.inventory.servlet.Spotic_InventoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Spotic_Emp_InventoryServlet</servlet-name>
		<servlet-class>com.spotic.ei.servlet.Spotic_Emp_InventoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AhServlet</servlet-name>
		<servlet-class>com.spotic.ah.servlet.AhServlet</servlet-class>
	</servlet>
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.spotic.filter.Myfilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>Spotic_EmpServlet</servlet-name>
		<url-pattern>/Spotic_EmpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Spotic_CustomerServlet</servlet-name>
		<url-pattern>/Spotic_CustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Spotic_RfqServlet</servlet-name>
		<url-pattern>/Spotic_RfqServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Spotic_InventoryServlet</servlet-name>
		<url-pattern>/Spotic_InventoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Spotic_Emp_InventoryServlet</servlet-name>
		<url-pattern>/Spotic_Emp_InventoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AhServlet</servlet-name>
		<url-pattern>/AhServlet</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>app</param-value>
	</context-param>
	<error-page>
		<error-code>404</error-code>
		<location>/error/error.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
