/* CSS Document */

	*{
		margin:0px;
	}
	
	body{
		background-image:url(../images/add2.gif);
		background-attachment:fixed;
	}
	
	.mainDiv{
		width:800px;
		height:400px;
		border:1px #FF0000 solid;
	}