/* CSS Document */

	*{
		margin:0px;
	}

	body{
		background-image:url(../images/add2.gif);
		background-attachment:fixed;
	}

	.mainDiv{
		width:700px;
		height:400px;
		margin:0 auto;
	}
	
	.leftDiv{
		float:left;
		width:500px;
		height:400px;
	}
	
	.leftDiv table{
		width:500px;
		color:#FFFFFF;
	}
	
	.leftDiv table input{
		background:transparent;
		border:1px #00FF00 dashed;
		color:#FFFF00;
	}
	
	