/* CSS Document */

	*{
		margin:0px;
	}
	
	body{
		background-image:url(../images/add2.gif);
		background-attachment:fixed;
	}
	
	table{
		color:#FFFFFF;
		width:400px;
	}
	
	table input{
		background:transparent;
		border:1px #00FF00 dashed;
		color:#FFFF00;
	}
	
	#sub{
		background:transparent;
		background-image:url(../images/add3.png);
		width:128px;
		height:128px;
		float:right;
		border:0px;
	}